@font-face {
    font-family: "Cabin-Regular";
    src: url("../fonts/Cabin/Cabin-Regular.eot");
    src: url("../fonts/Cabin/Cabin-Regular.woff") format("woff"),
         url("../fonts/Cabin/Cabin-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Circe-Regular";
    src: url("../fonts/Circe/Circe-Regular.eot");
    src: url("../fonts/Circe/Circe-Regular.woff") format("woff"),
         url("../fonts/Circe/Circe-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Circe-Bold";
    src: url("../fonts/Circe/Circe-Bold.eot");
    src: url("../fonts/Circe/Circe-Bold.woff") format("woff"),
         url("../fonts/Circe/Circe-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Circe-ExtraBold";
    src: url("../fonts/Circe/Circe-ExtraBold.eot");
    src: url("../fonts/Circe/Circe-ExtraBold.woff") format("woff"),
         url("../fonts/Circe/Circe-ExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
